:root {
  --primary: #303030;
  --secondary: #e2e2e2;
  --secondary-transparent: rgba(226, 226, 226, 0.5);
  --terciary: #141414;
  --border-radius: 5px;
  --border-radius-box: 20px;
  --title: 3em;
  --text: .8em;
  --button-width: 150px;
  --button-height: 40px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100vh;
  background-color: var(--primary);
}

header {
  background: #333;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
}

.info {
  background: var(--terciary);
  padding: 10px;
  border: 1px solid var(--secondary);
  border-radius: 10px;
  color: var(--secondary);
}

.map {
  border-radius: 15px;
  margin: 15px;
  width: 95%;
  height: 70%;
}

form {
  display: flex;
  flex-direction: column;
}

label, input, textarea, button {
  margin-bottom: 10px;
  padding: 10px;
}

@media (max-width: 768px) {
  .container {
      grid-template-columns: 1fr;
  }
  .map {
    width: 95%;
    height: auto;
  }
}
