:root {
  --primary: #303030;
  --secondary: #e2e2e2;
  --secondary-transparent: rgba(226, 226, 226, 0.8);
  --terciary: #141414;
  --border-radius: 5px;
  --border-radius-box: 20px;
  --title: 3em;
  --text: 1.4em;
  --button-text: 0.9em;
  --button-width: 150px;
  --button-height: 40px;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--terciary);
  color: var(--secondary);
  text-align: center;
  transition: background-color 1s ease-in-out;
}

header h1 {
  margin: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
.menu-toggle .bar1,
.menu-toggle .bar2,
.menu-toggle .bar3 {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 4px 0;
  transition: 0.4s;
}
.menu-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: 10;
}
.menu-overlay.active {
  display: flex;
  opacity: 1;
}
.menu {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
.menu a {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 10px 0;
}

#logo {
  width: 150px;
  filter: drop-shadow(0 0 10px rgba(158, 158, 158, 0.9));
  animation: blink-drop-shadow 3s infinite;
}

@keyframes blink-drop-shadow {
  0% {
    filter: drop-shadow(0 0 10px rgba(158, 158, 158, 0.9));
  }
  50% {
    filter: drop-shadow(0 0 10px rgba(158, 158, 158, 0.2));
  }
  100% {
    filter: drop-shadow(0 0 10px rgba(158, 158, 158, 0.9));
  }
}

.buttons {
  display: flex;
  width: 100%;
  gap: 30px;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  box-sizing: border-box;
}

header h1 {
  margin: 20px;
}

button {
  width: var(--button-width);
  height: var(--button-height);
  border-radius: var(--border-radius);
  border: 1px solid black;
  cursor: pointer;
  background-color: var(--secondary);
  font-size: var(--button-text);
}

button:hover {
  background-color: var(--primary);
  border: 1px solid var(--secondary);
  color: var(--secondary);
  transition: all 0.15s ease-in;
}

.box-info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 70vh;
  gap: 50px;
  font-size: var(--text);
}

.box-text {
  width: 45%;
}

.box-text p {
  font-weight: 100;
}

.select {
  background-color: var(--primary);
  border: 1px solid var(--secondary);
  color: var(--secondary);
}

.select:hover {
  background-color: var(--secondary);
  border: 1px solid var(--primary);
  color: var(--primary);
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  position: relative;
  width: 100%;
}

.carousel img {
  position: absolute;
  width: 450px;
  height: 500px;
  border-radius: var(--border-radius-box);
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.carousel-img.active {
  opacity: 1;
}

.menu {
  display: none;
}

@media (max-width: 1024px) {
  .box-info {
    width: 90%;
  }

  .box-text {
    font-size: 0.9em;
  }
}

@media (max-width: 768px) {
  .carousel img {
    width: 300px;
    height: 500px;
  }
  .buttons {
    gap: 25px;
  }
}

@media (max-width: 425px) {
  #logo {
    width: 100px;
  }
  .buttons {
    display: none;
  }

  .title {
    font-size: 1.7em;
  }

  .box-info {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
  .box-text {
    width: 95%;
    font-weight: 100;
    font-size: .7em;
  }

  .box-text h2 {
    font-size: 1.2em;
  }

  .carousel img {
    width: 300px;
    height: 300px;
    gap: 10px;
  }

  .menu-toggle {
    display: flex;
  }

  .menu-toggle.change .bar1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .menu-toggle.change .bar2 {
    opacity: 0;
  }

  .menu-toggle.change .bar3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .menu-overlay {
    display: none;
  }

  .menu-overlay.active {
    display: flex;
    opacity: 1;
  }
}

@media (max-width: 375px) {
  .box-text p {
    font-size: 0.8em;
  }
}
@media (max-width: 320px) {
  .box-text {
    width: 95%;
  }
  .box-text p {
    font-size: 0.7em;
  }
}