:root {
  --primary: #303030;
  --secondary: #e2e2e2;
  --secondary-transparent: rgba(226, 226, 226, 0.4);
  --terciary: #141414;
  --border-radius: 5px;
  --border-radius-box: 20px;
  --button-width: 150px;
  --button-height: 40px;
}

body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1; /* Para asegurarse de que el contenido principal esté encima del video */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

section {
  text-align: center;
  background-color: var(--secondary);
  width: 80%;
  height: 200px;
  border-radius: var(--border-radius-box);
  display: flex;
  flex-direction: column;
  border: 1px solid var(--secondary);
  flex-wrap: wrap;
  font-size: 1.4rem;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 5px;
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.20));
  background-color: var(--secondary-transparent);
  backdrop-filter: blur(10px);
}

section h1 {
  margin: 0;
  padding: 0;
}

button {
  color: var(--secondary);
  width: var(--button-width);
  height: var(--button-height);
  border-radius: var(--border-radius);
  background-color: var(--primary);
  border: 1px solid var(--terciary);
  display: inline-block;
  cursor: pointer;
  margin: 5px;
}

button a {
  text-decoration: none;
}

.button-join {
  background-color: var(--secondary);
  color: var(--terciary);
}

footer {
  position: fixed;
  left: 0; 
  right: 0;
  bottom: 0; 
  display: flex;
  background-color: var(--secondary-transparent);
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  font-weight: 300;
  gap: 10px;
  color: var(--terciary);
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.55));
  backdrop-filter: blur(10px);
  border-top: 1px solid var(--secondary);
}

@media (max-width: 425px) {
  section {
    height: 50%;
  }
  section h1 {
    font-size: 2.3rem;
  }
}

@media (min-width: 768px) {
  section {
    width: 50%;
    gap: 20px;
  }
  footer {
    justify-content: center;
    gap: 20px;
  }
}

@media (min-width: 1024px) {
  section {
    width: 40%;
    font-size: 2em;
  }
}

@media (min-width: 1440px) {
  section {
    width: 30%;
  }
}
