:root {
  --primary: #303030;
  --secondary: #e2e2e2;
  --terciary: #141414;
  --border-radius: 5px;
  --border-radius-box: 20px;
  --title: 3em;
  --text: .8em;
  --button-width: 150px;
  --button-height: 40px;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background-image: url("../img/bg-img.jpg");
  background-size: cover; /* Hace que la imagen abarque todo el body */
  background-position: center; /* Hace que la imagen se muestre en el centro */
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Color negro semi-transparente */
  z-index: -1; /* Coloca la capa detrás del contenido */
}

main {
  position: absolute;
  display: flex;
  /* flex-wrap: wrap; */
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

img {
  width: 250px;
  filter: drop-shadow(0 0 10px rgba(119, 119, 119, 0.8));
}

section {
  background-color: var(--secondary);
  width: 600px;
  height: 230px;
  border-radius: var(--border-radius-box);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}

section h1 {
  padding: 0;
  margin: 0;
  font-size: var(--title);
}

button {
  width: var(--button-width);
  height: var(--button-height);
  border-radius: var(--border-radius);
  /* Quitar todos los estilos predeterminados */
  border: 1px solid black;
  cursor: pointer;
  background-color: transparent; /* Asegura que el fondo sea transparente */
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.8));
  font-size: var(--text);
}

.button-join {
  background-color: var(--primary);
  filter: inherit;
  color: var(--secondary);
  border: 1px solid var(--primary);
}
