:root {
  --primary: #303030;
  --secondary: #f8f6f1;
  --terciary: #141414;
  --border-radius: 15px;
  --title: 2.5em; 
  --text: 1.2em;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background-image: url("../img/bg-img.jpg");
  background-size: cover; /* Hace que la imagen abarque todo el body */
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Color negro semi-transparente */
  z-index: -1; /* Coloca la capa detrás del contenido */
}

main {
  position: absolute;
  display: flex;
  /* flex-wrap: wrap; */
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

img {
  width: 250px;
}

section {
  background-color: var(--secondary);
  width: 400px;
  height: 200px;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

section h1 {
  padding: 0;
  margin: 0;
  font-size: var(--title);
}